/* Defines Colemak-DHm for programmers with german characters on a Kinesis Advantage 360 */
/* Intended to use with the german keyboard layout. */

/* standard includes for keys, bluetooth, rgb and backlight */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

/* Include zmk-nodefree macros for convenience */
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_adv360.h"
#include "../zmk-nodefree-config/international_chars/german_alt.dtsi"

/* layer and key shortcuts */
#define ___ &trans
#define DEF 0
#define NAV 1
#define NUM 2
#define GER 3

/* custom behaviors */

// homerow mods
ZMK_BEHAVIOR(hrm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
)

#define SHIFT_A (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_A)))
#define SHIFT_B (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_B)))
#define SHIFT_C (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_C)))
#define SHIFT_D (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_D)))
#define SHIFT_E (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_E)))
#define SHIFT_F (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_F)))
#define SHIFT_G (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_G)))
#define SHIFT_H (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_H)))
#define SHIFT_I (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_I)))
#define SHIFT_J (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_J)))
#define SHIFT_K (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_K)))
#define SHIFT_L (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_L)))
#define SHIFT_M (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_M)))
#define SHIFT_N (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_N)))
#define SHIFT_O (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_O)))
#define SHIFT_P (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_P)))
#define SHIFT_Q (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_Q)))
#define SHIFT_R (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_R)))
#define SHIFT_S (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_S)))
#define SHIFT_T (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_T)))
#define SHIFT_U (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_U)))
#define SHIFT_V (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_V)))
#define SHIFT_W (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_W)))
#define SHIFT_X (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_X)))
#define SHIFT_Y (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_Y)))
#define SHIFT_Z (LS(ZMK_HID_USAGE(HID_USAGE_KEY, HID_USAGE_KEY_KEYBOARD_Z)))

// Layer 0
ZMK_LAYER(default_layer,
        &kp ESC          &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &tog 1                                                                       &mo 3 &kp N6 &kp N7 &kp N8    &kp N9   &kp N0        &kp MINUS
        &kp SINGLE_QUOTE &kp Q     &kp W    &kp F    &kp P      &kp B  &none                                                                        &none &kp J  &kp L  &kp U     &kp Z    &kp SEMICOLON &kp RIGHT_BRACKET
        &kp TAB          &kp A     &kp R    &kp S    &kp T      &kp G  &none            &kp LCTRL &kp LALT &none &none &kp LGUI  &kp RCTRL          &none &kp M  &kp N  &kp E     &kp I    &kp O         &kp SQT
        &mo 1            &kp Y     &kp X    &kp C    &kp D      &kp V         &none     &none     &kp HOME &none &none &kp PG_UP &none     &none          &kp K  &kp H  &kp COMMA &kp DOT  &kp FSLH      &mo 1
        &kp LSHFT        &kp HOME  &kp END  &kp LEFT &kp RIGHT                &kpSPACE  &mo 2     &kp BSPC              &kp PG_DN &mo 2    &kp SPACE             &kp UP &kp DOWN  &none    &kp BSLH      &kp RSHFT
)

// Layer 1
ZMK_LAYER(shift_layer,
        &kp EQUAL &kp N1      &kp N2      &kp N3      &kp N4      &kp N5 &trans                                                                                &mo 3 &kp N6     &kp KP_NUM &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
        &kp TAB   &kp SHIFT_Q &kp SHIFT_W &kp SHIFT_F &kp SHIFT_P &kp SHIFT_B &none                                                                            &none &kp SHIFT_J &kp SHIFT_L &kp SHIFT_U &kp SHIFT_Z   &kp KP_MINUS    &kp BSLH
        &kp ESC   &kp SHIFT_A &kp SHIFT_R &kp SHIFT_S &kp SHIFT_T &kp SHIFT_G &none              &kp LCTRL &kp LALT &none     &none     &kp LGUI  &kp RCTRL    &none &kp SHIFT_M &kp SHIFT_N &kp SHIFT_E &kp SHIFT_O   &kp KP_PLUS     &kp SQT
        &kp LSHFT &kp SHIFT_Y &kp SHIFT_X &kp SHIFT_C &kp SHIFT_D &kp SHIFT_V &none    &none     &kp HOME &none     &none     &kp PG_UP &none     &none              &kp SHIFT_K &kp SHIFT_H &kp KP_N2   &kp KP_N3     &kp KP_ENTER    &kp RSHFT
        &mo 2     &kp GRAVE   &kp CAPS    &kp LEFT    &kp RIGHT               &kp BSPC &kp DEL   &kp END            &kp PG_DN &kp ENTER &kp KP_N0                                &kp UP      &kp DOWN    &kp KP_DOT    &kp RBKT        &mo 2
)

// Layer 2
ZMK_LAYER(fn,
        &kp F1 &kp F2          &kp F3 &kp F4          &kp F5 &kp F6  &tog 1                                                      &mo 3 &kp F7 &kp F8 &kp F9          &kp F10 &kp F11         &kp F12
        &trans &trans          &trans &trans          &trans &trans  &none                                                       &none &trans &trans &trans          &trans  &trans          &trans
        &trans &trans          &trans &trans          &trans &trans  &none        &trans &trans &none &none &trans &trans        &none &trans &trans &trans          &trans  &trans          &trans
        &trans &trans          &trans &trans          &trans &trans        &none  &none  &trans &none &none &trans &none  &none        &trans &trans &trans          &trans  &trans          &trans
        &trans &trans          &trans &trans          &trans               &trans &trans &trans             &trans &trans &trans              &trans &trans          &trans  &trans          &trans
)

// Layer 3
ZMK_LAYER(mod,
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                                                          &trans                 &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none
        &none &none        &none        &none        &none        &none        &bootloader                                                                                                    &bootloader            &none        &none        &none        &none        &none        &none
        &none &none        &none        &none        &none        &none        &rgb_ug RGB_MEFS_CMD 5                 &bt BT_CLR &bt BT_CLR &none &none &bt BT_CLR &bt BT_CLR                 &rgb_ug RGB_MEFS_CMD 5 &none        &none        &none        &none        &none        &none
        &none &none        &none        &none        &none        &none                               &none           &none      &none      &none &none &none      &none      &none                                  &none        &none        &none        &none        &none        &none
        &none &none        &none        &bl BL_INC   &bl BL_DEC                                       &rgb_ug RGB_TOG &bl BL_TOG &none                  &none      &bl BL_TOG &rgb_ug RGB_TOG                                     &bl BL_INC   &bl BL_DEC   &none        &none        &none
)
